.dialogs {
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-gap: 20px;
}

.dialogItem {
}

.item {
   padding: 15px;
   margin: 0px 0px 10px 0px;
}

.item a {
   padding: 10px;
   text-decoration: none;
   color: #cecece;
   font-size: 20px;
   transition: all 0.2s ease 0s;
}
.item a.active {
   color: #8f3dcd;
}
.item a.active:hover {
   text-shadow: 0 0 9px rgb(143, 61, 205, 0.6);
}

.item a:hover {
   text-shadow: 0 0 9px rgba(255, 255, 255, 0.6);
}

.messages {
}
.input{}
.textarea{
   border-radius: 15px;
   resize: none;
   height: 30px;
   line-height: 30px;
   padding-left: 10px;
}
.button{
   cursor: pointer;
   width: 20%;
   text-align: center;
   line-height: 30px;
   height: 35px;
   border-radius: 15px;
   background: #8f3dcd;
}