.header {
   background: linear-gradient(90deg, #472466 0%, #8f3dcd 50%, #ea45fc 100%);
   grid-column: span 4;
   display: grid;
   grid-template: 1fr / 1fr 3fr 20fr 1fr;
   align-items: center;
}

.logo {
   grid-column: 2/3;
   width: 70px;
}

.logo img {
   width: 100%;
}